{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_autograder/index_page

    This template is used to render the index page of the autograder report.
}}
<div
    id="report-autograder-root"
    data-points-decimals="{{additionalData.points_decimals}}"
    data-separator-decimals="{{additionalData.separator_decimals}}"
>
    <nav role="navigation">
        <ol class="breadcrumb">
            {{#items}}
                {{#action}}
                    {{#iscourse}}
                        <li class="breadcrumb-item"><a style="font-weight: bold;" href="{{{action}}}"
                                                       {{#title}}title="{{title}}"{{/title}}>{{{text}}}</a></li>
                    {{/iscourse}}
                    {{^iscourse}}
                        <li class="breadcrumb-item"><a href="{{{action}}}"
                                                       {{#title}}title="{{title}}"{{/title}}>{{{text}}}</a></li>
                    {{/iscourse}}
                {{/action}}
                {{^action}}
                    <li class="breadcrumb-item">{{{text}}}</li>
                {{/action}}
            {{/items}}
        </ol>
    </nav>
    <div class="report-search-box input-group mb-3">
        <span class="input-group-text" id="report-search-icon" style="border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;">
            <i class="fa fa-search"></i>
        </span>
        <input type="text" id="report-search-input" class="form-control"
               placeholder="{{#str}} search, core {{/str}}"
               aria-describedby="report-search-icon"
               style="border-top-left-radius: 0;
                   border-bottom-left-radius: 0;
                   border-top-right-radius: 0.25rem;
                   border-bottom-right-radius: 0.25rem;">
    </div>
    <div class="hero-unit">
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">{{#str}} header:student, report_autograder {{/str}}</th>
                <th scope="col">{{#str}} header:delivery_date, report_autograder {{/str}}</th>
                <th scope="col">{{#str}} header:grade, report_autograder {{/str}}</th>
                <th scope="col">{{#str}} header:external_status, report_autograder {{/str}}</th>
                <th scope="col">{{#str}} header:completed_at, report_autograder {{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{^dataToRender.data}}
                <tr>
                    <td colspan="5" class="align-content-center"><h4>{{#str}} feedback:nothing_to_show, report_autograder {{/str}}</h4></td>
                </tr>
            {{/dataToRender.data}}
            {{#dataToRender.data}}
                <tr>
                    <td>{{user_name}} </td>
                    <td>{{submission_date}}</td>
                    <td>{{grade}}</td>
                    <td>{{status}}</td>
                    <td>{{completed_at}}</td>
                </tr>
            {{/dataToRender.data}}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('report-search-input');
        if (searchInput) {
            searchInput.addEventListener('keyup', () => {
                const searchTerm = searchInput.value.toLowerCase();
                const tableRows = document.querySelectorAll('#report-autograder-root table tbody tr');
                tableRows.forEach(row => {
                    const rowText = row.textContent.toLowerCase();
                    if (rowText.includes(searchTerm)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        }
    });
</script>
