<thead class="table-light">
    <tr>
        <th scope="col">
            <span class="autograder-sortable-header" style="cursor: pointer;" data-sortby="user_name" data-sorttype="string">
                <i class="fa fa-sort"></i> {{#str}} header:student, report_autograder {{/str}}
            </span>
        </th>
        <th scope="col">
            <span class="autograder-sortable-header" style="cursor: pointer;" data-sortby="submission_date" data-sorttype="number">
                <i class="fa fa-sort"></i> {{#str}} header:delivery_date, report_autograder {{/str}}
            </span>
        </th>
        <th scope="col">{{#str}} header:grade, report_autograder {{/str}}</th>
        <th scope="col">{{#str}} header:external_status, report_autograder {{/str}}</th>
        <th scope="col">
            <span class="autograder-sortable-header" style="cursor: pointer;" data-sortby="completed_at" data-sorttype="number">
                <i class="fa fa-sort"></i> {{#str}} header:completed_at, report_autograder {{/str}}
            </span>
        </th>
    </tr>
</thead>