<tr data-record-id="{{id}}">
    <td class="d-flex align-items-center">
        {{{user_col}}}
    </td>

    <td>
        <span class="badge badge-secondary">{{status}}</span>
    </td>

    <td data-sort-value="{{completed_at_sort}}">{{completed_at}}</td>

    <td class="text-center">{{grade}}</td>

    <td>
        {{#grade_user_url}}
        <a class="btn btn-secondary" href="{{grade_user_url}}">{{#str}}gradeuser, report_autograder{{/str}}</a>
        {{/grade_user_url}}

        {{^grade_user_url}}
            {{#show_forum_grader}}
                <button class="btn btn-secondary autograder-row-grade-btn"
                    type="button"
                    data-grade-action="launch"
                    data-initialuserid="{{moodle_userid}}">
                    {{#str}}gradeuser, report_autograder{{/str}}
                </button>
            {{/show_forum_grader}}
        {{/grade_user_url}}
    </td>
</tr>