                <tr>
                    <td colspan="5" class="align-content-center text-center"><p class="m-0 p-0">{{#str}} feedback:nothing_to_show, report_autograder {{/str}}</p></td>
                </tr>