{{#skeletonRows}}
<tr>
    <td class="d-flex align-items-center border-0">
        <div class="autograder-skeleton avatar mr-2"></div>
        <div class="autograder-skeleton" style="width: 150px;"></div>
    </td>
    <td class="border-0"><div class="autograder-skeleton" style="width: 100px;"></div></td>
    <td class="border-0"><div class="autograder-skeleton badge"></div></td>
    <td class="border-0"><div class="autograder-skeleton" style="width: 100px;"></div></td>
    <td class="border-0"><div class="autograder-skeleton" style="width: 80px;"></div></td>
    <td class="border-0"><div class="autograder-skeleton button"></div></td>
</tr>
{{/skeletonRows}}